
@{
    ViewBag.Title = "Achats";
}



<div class="row justify-content-center">
    <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
            <h2>Featured Property For Sale</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <!-- property Sidebar -->
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="simple-sidebar sm-sidebar" id="filter_search" style="left:0;">

                <div class="search-sidebar_header">
                    <h4 class="ssh_heading">Close Filter</h4>
                    <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                </div>

                <!-- Find New Property -->
                <div class="sidebar-widgets">

                    <div class="search-inner p-0">

                        <div class="filter-search-box">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" class="form-control" id="recherche" placeholder="Search by space name…">
                                    <i class="ti-search"></i>
                                </div>
                            </div>
                        </div>

                        <div class="filter_wraps">

                            <!-- Single Search -->
                            <div class="single_search_boxed">
                                <div class="widget-boxed-header">
                                    <h4>
                                        <a href="#where" data-bs-toggle="collapse" aria-expanded="false" role="button" class="collapsed">Where<span class="selected">Nabeul</span></a>
                                    </h4>

                                </div>
                                <div class="widget-boxed-body collapse" id="where" data-parent="#where">
                                    <div class="side-list no-border">
                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <div class="card-body pt-0">
                                                <div class="inner_widget_link">
                                                    <ul class="no-ul-list filter-list" id="city">
                                                        <li>
                                                            <input id="b1" class="radio-custom"  name="where"  type="radio">
                                                            <label for="b1" class="radio-custom-label">Tunis</label>
                                                        </li>
                                                        <li>
                                                            <input id="b2" class="radio-custom"  name="where" type="radio">
                                                            <label for="b2" class="radio-custom-label">Nabeul</label>
                                                        </li>
                                                        <li>
                                                            <input id="b3" class="radio-custom"  name="where" type="radio">
                                                            <label for="b3" class="radio-custom-label">Sousse</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Search -->
                            <div class="single_search_boxed">
                                <div class="widget-boxed-header">
                                    <h4>
                                        <a href="#fptype" data-bs-toggle="collapse" aria-expanded="false" role="button" class="collapsed">Property Types<span class="selected">Apartment</span></a>
                                    </h4>

                                </div>
                                <div class="widget-boxed-body collapse" id="fptype" data-parent="#fptype">
                                    <div class="side-list no-border">
                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <div class="card-body pt-0">
                                                <div class="inner_widget_link">
                                                    <ul class="no-ul-list filter-list">
                                                        <li>
                                                            <input id="c1" class="radio-custom" name="ptype" type="radio">
                                                            <label for="c1" class="radio-custom-label">House</label>
                                                        </li>
                                                        <li>
                                                            <input id="c3" class="radio-custom" name="ptype" type="radio">
                                                            <label for="c3" class="radio-custom-label">Villa</label>
                                                        </li>
                                                        <li>
                                                            <input id="c4" class="radio-custom" name="ptype" type="radio" checked="">
                                                            <label for="c4" class="radio-custom-label">Apartment</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Search -->
                            <div class="single_search_boxed">
                                <div class="widget-boxed-header">
                                    <h4>
                                        <a href="#fbedrooms" data-bs-toggle="collapse" aria-expanded="false" role="button" class="collapsed">Bedrooms<span class="selected">2 Beds</span></a>
                                    </h4>

                                </div>
                                <div class="widget-boxed-body collapse" id="fbedrooms" data-parent="#fbedrooms">
                                    <div class="side-list no-border">
                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <div class="card-body pt-0">
                                                <div class="inner_widget_link">
                                                    <ul class="no-ul-list filter-list">
                                                        <li>
                                                            <input id="a1" class="radio-custom" name="bed" type="radio">
                                                            <label for="a1" class="radio-custom-label">01 Bedrooms</label>
                                                        </li>
                                                        <li>
                                                            <input id="a2" class="radio-custom" name="bed" type="radio">
                                                            <label for="a2" class="radio-custom-label">02 Bedrooms</label>
                                                        </li>
                                                        <li>
                                                            <input id="a3" class="radio-custom" name="bed" type="radio">
                                                            <label for="a3" class="radio-custom-label">03 Bedrooms</label>
                                                        </li>
                                                        <li>
                                                            <input id="a4" class="radio-custom" name="bed" type="radio" checked="">
                                                            <label for="a4" class="radio-custom-label">04 Bedrooms</label>
                                                        </li>
                                                        <li>
                                                            <input id="a5" class="radio-custom" name="bed" type="radio">
                                                            <label for="a5" class="radio-custom-label">05 Bedrooms</label>
                                                        </li>
                                                        <li>
                                                            <input id="a6" class="radio-custom" name="bed" type="radio">
                                                            <label for="a6" class="radio-custom-label">06+ Bedrooms</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="single_search_boxed">
                                <div class="widget-boxed-header">
                                    <h4>
                                        <a href="#fprice" data-bs-toggle="collapse" aria-expanded="false" role="button" class="collapsed">Price Range<span class="selected">$10,000 - $15,000</span></a>
                                    </h4>

                                </div>
                                <div class="widget-boxed-body collapse" id="fprice" data-parent="#fprice">
                                    <div class="side-list no-border">
                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <div class="card-body pt-0">
                                                <div class="inner_widget_link">
                                                    <ul class="no-ul-list filter-list">
                                                        <li>
                                                            <input id="e1" class="radio-custom" name="prices" type="radio">
                                                            <label for="e1" class="radio-custom-label">Less Then $10,000</label>
                                                        </li>
                                                        <li>
                                                            <input id="e2" class="radio-custom" name="prices" type="radio">
                                                            <label for="e2" class="radio-custom-label">$10,000 - $15,000</label>
                                                        </li>
                                                        <li>
                                                            <input id="e3" class="radio-custom" name="prices" type="radio">
                                                            <label for="e3" class="radio-custom-label">$12,000 - $25,000</label>
                                                        </li>
                                                        <li>
                                                            <input id="e4" class="radio-custom" name="prices" type="radio" checked="">
                                                            <label for="e4" class="radio-custom-label">$30,000 - $35,000</label>
                                                        </li>
                                                        <li>
                                                            <input id="e5" class="radio-custom" name="prices" type="radio">
                                                            <label for="e5" class="radio-custom-label">$40,000 - $45,000</label>
                                                        </li>
                                                        <li>
                                                            <input id="e6" class="radio-custom" name="prices" type="radio">
                                                            <label for="e6" class="radio-custom-label">$50,000 - $55,000</label>
                                                        </li>
                                                        <li>
                                                            <input id="e7" class="radio-custom" name="prices" type="radio">
                                                            <label for="e7" class="radio-custom-label">$60,000 - $65,000</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Sidebar End -->

        </div>


        <div class="col-lg-8 col-md-12 list-layout">

            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="item-shorting-box">
                        <div class="item-shorting clearfix">
                            <div class="left-column pull-left"><h4 class="m-0">Found @ViewBag.result.Count Results</h4></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="result">

                @foreach (var item in @ViewBag.result)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="property-listing property-1">

                            <div class="listing-img-wrapper">
                                <a href="@Url.Action("Details", "Achat",new { item.id})">
                                    <img src=@Url.Content("~/assets/img/p-1.jpg") class="img-fluid mx-auto" alt="">
                                </a>
                            </div>

                            <div class="listing-content">

                                <div class="listing-detail-wrapper-box">
                                    <div class="listing-detail-wrapper">
                                        <div class="listing-short-detail">
                                            <h4 class="listing-name"><a href="@Url.Action("Details", "Achat",new { item.id})">@item.titre</a></h4>
                                            <span class="prt-types sale">@item.status</span>
                                        </div>
                                        <div class="list-price">
                                            <h6 class="listing-card-info-price">$@item.price</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="price-features-wrapper">
                                    <div class="list-fx-features">
                                        <div class="listing-card-info-icon">
                                            <div class="inc-fleat-icon"><img src=@Url.Content("~/assets/img/bed.svg") width="13" alt=""></div>@item.bedrooms Beds
                                        </div>
                                        <div class="listing-card-info-icon">
                                            <div class="inc-fleat-icon"><img src=@Url.Content("~/assets/img/bathtub.svg") width="13" alt=""></div>@item.bathrooms Bath
                                        </div>
                                        <div class="listing-card-info-icon">
                                            <div class="inc-fleat-icon"><img src=@Url.Content("~/assets/img/move.svg") width="13" alt=""></div>@item.areas m²
                                        </div>
                                    </div>
                                </div>

                                <div class="listing-footer-wrapper">
                                    <div class="listing-locate">
                                        <span class="listing-location"><i class="ti-location-pin"></i>@item.address, @item.city</span>
                                    </div>
                                    <div class="listing-detail-btn">
                                        <a href="@Url.Action("Details", "Achat",new { item.id})" class="more-btn">View</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                }


            </div>

        </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#recherche").keyup(function () {
            LoadData("a");
            console.log($("#recherche").val())
        });
        $("#city").click(function () {
            if ($('#b1').is(':checked')) {
                LoadData("Tunis");
                console.log("tunis")
            }
            if ($('#b2').is(':checked')) {
                LoadData("Nabeul");
            }
            if ($('#b3').is(':checked')) {
                LoadData("Sousse");
            }
        })
        
    });

    function LoadData(city) {
            $("#result div").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Searchs")',
                dataType: 'json',
                data: {
                    titre: $("#recherche").val(),
                    city: city
                },
                success: function (data) {
                    console.log(data)
                    $.each(data, function (i, item) {
                        console.log(item.description)
                        var rows= "<div class='col-lg-12 col-md-12'>"+
                        "<div class='property-listing property-1'>"+
                            "<div class='listing-img-wrapper'>"+
                                "<a href='/Achat/Details/${item.id}'>"+
                                    "<img src=@Url.Content("~/assets/img/p-1.jpg") class='img-fluid mx-auto' alt=''>"+
                                "</a>"+
                            "</div>"+
                            "<div class='listing-content'>"+
                                "<div class='listing-detail-wrapper-box'>"+
                                    "<div class='listing-detail-wrapper'>"+
                                        "<div class='listing-short-detail'>"+
                                            "<h4 class='listing-name'><a href='/Achat/Details/${item.id}'>"+item.titre+"</a></h4>"+
                                            "<span class='prt-types sale'>"+item.status+"</span>"+
                                        "</div>"+
                                        "<div class='list-price'>"+
                                            "<h6 class='listing-card-info-price'>$"+item.price+"</h6>"+
                                        "</div>"+
                                    "</div>"+
                                "</div>"+
                                "<div class='price-features-wrapper'>"+
                                    "<div class='list-fx-features'>"+
                                        "<div class='listing-card-info-icon'>"+
                                            "<div class='inc-fleat-icon'><img src=@Url.Content("~/assets/img/bed.svg") width='13' alt='></div>"+item.bedrooms+" Beds"+
                                        "</div>"+
                                        "<div class='listing-card-info-icon'>"+
                                            "<div class='inc-fleat-icon'><img src=@Url.Content("~/assets/img/bathtub.svg") width='13' alt=''></div>"+item.bathrooms+" Bath"+
                                        "</div>"+
                                        "<div class='listing-card-info-icon'>"+
                                            "<div class='inc-fleat-icon'><img src=@Url.Content("~/assets/img/move.svg") width='13' alt=''></div>"+item.areas+" m²"+
                                        "</div>"+
                                    "</div>"+
                                "</div>"+
                                "<div class='listing-footer-wrappe'>"+
                                    "<div class='listing-locate'>"+
                                        "<span class='listing-location'><i class='ti-location-pin'></i>"+item.address+","+ item.city+"</span>"
                                    "</div>"+
                                    "<div class='listing-detail-btn'>"+
                                        "<a href='/Achat/Details/${item.id}' class='more-btn'>View</a>"+
                                    "</div>"+
                                "</div>"
                            "</div>"+
                        "</div>"+
                    "</div>";
                        $("#result").append(rows);
                    });
                }
            });
            return false;
        }


</script>

<table class="table">
    <tr>
        <th>id</th>
        <th>titre</th>
        <th>description</th>
        <th>Date</th>
        <th>bedrooms</th>
        <th>garage</th>
        <th>elevator</th>
        <th>bathrooms</th>
        <th>type</th>
        <th>air</th>
        <th>pool</th>
        <th>price</th>
    </tr>

    <tbody>
        @foreach (var item in @ViewBag.result)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.titre</td>
                <td>@item.description</td>
                <td>@item.date</td>
                <td>@item.bedrooms</td>
                <td>@item.garage</td>
                <td>@item.elevator</td>
                <td>@item.bathrooms</td>
                <td>@item.type</td>
                <td>@item.areas m²</td>
                <td>@item.pool</td>
                <td>@item.price</td>
                <td>
                    <a href="@Url.Action("Edit", "Achat",new { item.id})" class="btn btn-info">Edit</a>
                </td>
                <td>
                    <form method="post" action="@Url.Action("Delete", "Achat")">
                        <input type="hidden" name="id" value="@item.id" />
                        <input value="Delete" type="submit" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
<p>@Html.ActionLink("poster votre maison/appartement", "Create")</p>